body{
    font-family:  'Roboto Condensed', sans-serif;
}

.container{
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    padding: 0 15px;
}


.link{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.link:hover{
    border-bottom: 1px solid #00B2A0;
}



.wawe{
    background-image: url(wawe.jfif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}


.info{
    padding-top:100px ;
    padding-bottom: 100px;
}



.big-title{
    color: #01353E;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    gap: 30px   ;
    flex-wrap: wrap;
}

.title{
    text-align: center;
    margin: 300px auto;
}


.title h3{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    margin-top: 30px;
}

.box{
    /* border: 5px solid black; */
}

.wrap{
    display: flex;
    gap:50px ;
    margin-top:30px ;
}

.box p{
    margin-bottom: 30px;
    color: #242121;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; 
    letter-spacing: 0.6px;
}


 @media (max-width:700px) {
    
} 

@media (max-width:700px) {
    .wrap{
        flex-direction: column;
    }

    .big-title{
        font-size: 30px;
    }
} 
